<div class="container mt-3">

  <% @reviews.each do |review|%>
    <div class="border p-2">
      <p><strong>Rating:</strong> <%= review.rating %></p>
      <p><strong>Review:</strong> <%= review.content %></p>
    </div>
  <% end %>


</div>
